:root{
    --first-c:#373E40;
    --second-c:#305252;
    --third-c:#77878B;
    --fourth-c:#488286;
    --fifth-c:#B7D5D4;
    --font-1:"arial";
    --font-2:"times new roman";
}
body{
    background-color: var(--first-c);
}
.link{
    text-decoration: none;
    color:var(--fifth-c);
    font-size: 1em;
}
.link:hover{
    color:white;
}
/* .first-page{
    height: 100%;
    width: 100%;
} */
.nav_btn li:hover{
    color:#111;
    background:var(--fourth-c);
    box-shadow: 0 0 50px var(--fourth-c);
}
li{
    list-style: none;
}
.nav-area{
    display: flex;
    align-items: center;
}
.nav-btn{
    display:flex;
    flex:1;
    font-family: var(--font-1);
}
.header{
    flex:4;
    font-style: italic;
    font-family: var(--font-2);
    color:var(--fifth-c);
}
.nav-btn li{
    margin-right:15px;
}
.main{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}
.main img{
    width:100%;
    max-width:400px;
    border-radius: 250px;
}
.nav_btn{
    flex:1;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: var(--font-1);
}
.nav_btn li{
    font-size:xx-large;
    border-radius:120px;
    padding:7px;
}
.down{
    position: relative;
    left:50%;
    width:40px;
    height:40px;
    transform: rotate(45deg);
}
.down span{
    position: fixed;
    width: 100%;
    height: 100%;
    border-bottom:2px solid white;
    border-right:2px solid white;
    margin-left:50%;
    margin-top:50px;
    opacity: 0;
    cursor: pointer;
    animation: animate 1.5s linear infinite;
}
.down span:nth-child(1){
    transform:translate(-10px,-10px);
    animation-delay: -0.4s;
}
.down span:nth-child(2){
    transform: translate(0px,0px);
    animation-delay: -0.2s;
}
.down span:nth-child(3){
    transform: translate(10px,10px);
    animation-delay: 0s;
}
#home{
    margin-top: 200px;
    height:650px;
}
@keyframes animate{
    0%{
        opacity: 0;
    }
    33.3%{
        opacity: 1;
    }
    66.6%,100%{
        opacity: 0;
    }
}
@media(max-width:360px){
}