:root {
    --first-c: #373E40;
    --second-c: #305252;
    --third-c: #77878B;
    --fourth-c: #488286;
    --fifth-c: #B7D5D4;
    --font-1: "roboto";
    --font-2: "poppins";
}

body {
    margin: 0;
    padding: 0;
    background-image: url('./images/photo.jpg');
    background-size: cover;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-image: url('./images/education.jpg');
    background-size: 100% 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.heading h1 {
    font-size: 35px;
    text-transform: uppercase;
    color: cyan;
    font-style: bold;
}

.nav-area {
    display: flex;
    flex-direction: row;
}

.nav-area li {
    list-style: none;
    margin-right: 10px;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 400px;
    width: 50%;
    border-radius: 40px;
    transition: transform 1.5s;
    transform-style: preserve-3d;
}

.front {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    color: #fff;
    text-align: center;
    font-family: Helvetica;
    border-radius: 40px;
}

.intro {
    background-image: url("./images/front2.jpg");
    background-size: 100% 100%;
}

.intro-back {
    font-family: 'Roboto Slab', serif;
    color: cyan;
}

.contact-card-content h2 {
    color: cyan;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.contact-card-content ul {
    margin-top: -13px;
    margin-right: 36px;
}

.contact-card-content i:hover {
    transition: 0.3s linear;
    transform: rotate(360deg);
}

.contact-card-content a {
    color: white;
    font-size: 15px;
}

.intro h3,
h2 {
    margin-left: 20px;
    text-align: left;
}

.intro-card-content {
    color: white;
}

.intro h1 {
    text-transform: uppercase;
    color: cyan;
    font-size: 22px;
    text-shadow: 0 0 35px cyan;
    animation: fade 3s linear;
    font-family: 'Raleway', sans-serif;
    margin-top: 30px;
}

.front img {
    height: 100%;
    width: 100%;
    border-radius: 40px;
}

.back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    text-align: center;
    font-family: Helvetica;
    background-image: url('./images/all-back.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    transform: rotateY(-180deg);
    border-radius: 40px;
}

.card-head {
    font-style: normal;
    text-decoration: wheat;
    font-style: italic;
}

.card:hover {
    transform: rotateY(-180deg);
    box-shadow: 0 0 50px white;
}

.academics {
    background-image: url('./images/academics.jpg');
    background-position: center;
    background-size: cover;
    color: black;
}

.contact {
    background: url("./images/front.jpg");
    background-position: center;
    background-size: 100% 100%;
    text-align: center;
    color: black;
}

.card-btn button {
    border-radius: 100px;
    width: 150px;
    height: 40px;
    color: var(--fifth-c);
    background-color: var(--fourth-c);
}

.card-btn button:hover {
    color: #111;
    background: var(--fourth-c);
    box-shadow: 0 0 40px white;
}

.down {
    position: absolute;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
}

.down span {
    position: fixed;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    margin-left: 50%;
    margin-top: 50px;
    opacity: 0;
    cursor: pointer;
    animation: animate 1.5s linear infinite;
}

.down span:nth-child(1) {
    transform: translate(-10px, -10px);
    animation-delay: -0.4s;
}

.down span:nth-child(2) {
    transform: translate(0px, 0px);
    animation-delay: -0.2s;
}

.down span:nth-child(3) {
    transform: translate(10px, 10px);
    animation-delay: 0s;
}

#academics {
    display: flex;
    height: 670px;
    color: white;
    flex-direction: column;
    margin-top: 150px;
}

#academics p {
    font-weight: normal;
    margin-top: 0;
}

.academics-data h3 {
    margin-bottom: 0px;
}

#academics-heading {
    text-align: center;
    background-image: url('./images/education.jpg');
    background-size: 100% 100%;
    font-size: 14px;
    color: rgb(47, 85, 85);
    height: 80px;
    font-family: 'Poppins', sans-serif;
}

#academics-heading i {
    height: 40px;
    width: 40px;
}

.academics-info {
    display: flex;
}

.acadamic-front {
    background: url("./images/front.jpg");
    background-size: 100% 100%;
}

.acadamic-front h1 {
    margin-top: 150px;
    color: cyan;
    animation: fade 3s linear;
}

.acadamic-front .acad-data {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.acadamic-back button {
    background-color: transparent;
    color: cyan;
}

.acadamic-back button:hover {
    box-shadow: 0 0 40px cyan;
}

.acadamic-back>.card-content {
    margin-top: 100px;
}

.data-items {
    height: 150px;
    margin-bottom: 45px;
}

.acad-data hr {
    visibility: hidden;
}

#skills {
    display: flex;
    height: 670px;
    color: white;
    flex-direction: column;
    vertical-align: middle;
    margin-top: 150px;
    background: transparent;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 4px;
    background: transparent;
}

.skills-c {
    width: 50%;
    background: var(--fifth-c);
    margin: 20px;
    border-radius: 20px;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    animation: load 0.7s linear;
}

.skills-front {
    background: url("./images/front2.jpg");
    background-size: 100% 100%;
}

.skills-card-content h4 {
    margin-top: 120px;
}

.skills-back>.card-btn button {
    color: cyan;
    background: transparent;
}

.skills-front h1 {
    margin-top: 150px;
    color: cyan;
    animation: fade 3s linear;
}

.contact-front h2 {
    text-align: center;
    margin-top: 150px;
    color: cyan;
    animation: fade 3s linear;
}

.container p {
    color: white;
}

.first {
    width: 60%;
    background-color: black;
}

.second {
    width: 55%;
    background-color: purple;
}

.third {
    width: 40%;
    background-color: orangered;
}

.fourth {
    width: 40%;
    background-color: #808080;
}

.footer {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: var(--second-c);
    color: white;
    text-align: center;
    vertical-align: middle;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes load {
    from {
        width: 0%
    }
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    33.3% {
        opacity: 1;
    }
    66.6%,
    100% {
        opacity: 0;
    }
}

@media(max-width:950px) {
    .main {
        flex-wrap: wrap;
    }
    .card {
        width: 45%;
        height: 400px;
    }
    .scroll {
        visibility: hidden;
    }
    #academics {
        height: 1000px;
    }
}

@media(max-width:600px) {
    .main {
        flex-wrap: wrap;
    }
    .header {
        font-size: 50px;
    }
    .card {
        width: 80%;
        height: 350px;
    }
    .scroll {
        visibility: hidden;
    }
    .skills-c {
        width: 80%;
    }
    .header {
        font-size: 12px;
    }
    .navigation {
        visibility: hidden;
    }
}